compose/db_data/*
!compose/db_data/.keep
compose/*.sh

.idea/

__pycache__/
/nginx/logs/error.log
/nginx/logs/access.log
/compose/.env
.coverage
.coveragerc
htmlcov/

.vscode/

/media/

venv/
.prettierrc

frontend/