{% extends 'base.html' %}
{% load static %}

{% block title %}Sports{% endblock %} {# Sport type choose #}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-grid.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link rel="stylesheet" href="{% static "sport/css/bootstrap-tourist.css" %}">
    <link rel="stylesheet" href="{% static "sport/css/category.css" %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="{% static "sport/js/bootstrap-tourist.js" %}"></script>
    <script src="{% static "sport/js/modules/networking.mjs" %}"></script>
    <script src="{% static "sport/js/modules/enrollment.mjs" %}"></script>
    <script src="{% static "sport/js/modules/modals.mjs" %}"></script>
    <script src="{% static "sport/js/modules/tour.mjs" %}"></script>
    <script src="{% static "sport/js/category.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h1>Sports</h1>
                <div class="my-3">
                    <div class="alert alert-success" role="alert">
                        To choose a <span class="badge badge-dark">SPORT TYPE</span>, 
                        enroll to a <span class="badge badge-info">SPORT GROUP</span> <strong>see the schedule</strong>.
                    </div>
                </div>
                {% if sports %}
                    <div class="table-responsive-xl">
                        <table class="table table-hover text-center">
                            <thead>
                            <tr>
                                <th scope="col">Sport type</th>
                                <th scope="col" width=50%>Trainer(s)</th>
                                <th scope="col"># of trainings</th>
                                <th scope="col">Schedule</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sport in sports %}
                                    <tr style="cursor: pointer" onclick="location.href='{% url "sport_schedule_calendar" sport.id %}'"
                                    {% if student.sport.id == sport.id %}class="table-primary"{% endif %}>
                                        <th scope="row" class="align-middle">
                                            <span class="badge badge-dark text-uppercase">
                                            {{ sport.name }}
                                            </span>
                                        </th>
                                        <td class="align-middle">
                                            <div class="d-flex justify-content-around align-content-between flex-wrap">
                                                {% if sport.trainers %}
                                                    {% for trainer in sport.trainers%}
                                                        {# <span class="badge badge-pill badge-light my-1 mx-1">{{ trainer }}</span> #}
                                                    {% endfor %}
                                                {% else %}
                                                    <span class="badge badge-warning">No trainers yet</span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="align-middle">Requires num_of_trainers field in sport{# {{ sport.num_of_trainings }} #}</td>
                                        <td class="align-middle">
                                            <a href="{% url "sport_schedule_calendar" sport.id %}" class="btn btn-outline-dark">
                                                >
                                            </a>
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <a>No sports are available</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}