{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link rel="stylesheet" href="{% static "sport/css/bootstrap-tourist.css" %}">
    <link rel="stylesheet" href="{% static "sport/css/profile.css" %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="{% static "sport/js/bootstrap-tourist.js" %}"></script>
    <script src="{% static "sport/js/modules/networking.mjs" %}"></script>
    <script src="{% static "sport/js/modules/enrollment.mjs" %}"></script>
    <script src="{% static "sport/js/modules/calendar.mjs" %}"></script>
    <script src="{% static "sport/js/modules/modals.mjs" %}"></script>
    <script src="{% static "sport/js/modules/tour.mjs" %}"></script>
    <script src="{% static "sport/js/profile.js" %}"></script>
    <script src="{% static "sport/js/swipeCalendar.min.js" %}"></script>
{% endblock %}

{% block content %}
    {% if notify %}
        <script>
            toastr["{{ notify.type }}"]("{{ notify.msg }}")
        </script>
    {% endif %}
    {% if user.is_authenticated %}
        <a class="help-link fa fa-question-circle fa-2x" id="help-btn" onclick="start_tour()"></a>
    {% endif %}
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-body">
                <h1 class="card-title">{{ user.get_full_name }}</h1>
                {#            <h4 class="card-title">{{ user.role }}</h4>#}

                {% if user.is_staff or user.is_superuser %}
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-sm-12  mb-1">
                                <a href="{% url 'admin:index' %}"
                                   class="btn btn-info">
                                    Admin panel
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            
                {% if trainer.sport_groups is not None  %}
                    {% if trainer.sport_groups|length > 0 %}
                        <p id="trainer-list">
                            In semester <b>{{ common.semester_name }}</b> you train the following groups:
                            {% for group in trainer.sport_groups %}
                                <span class="badge badge-pill badge-training" id="trainer-span"
                                      onclick="openGroupInfoModalForTrainer(['/api/group/{{ group.id }}', '/api/attendance/{{ group.id }}/report'])">{{ group.qualified_name }}</span>
                            {% endfor %}
                        </p>
                    {% else %}
                        <p id="trainer-list">
                            You are not training in the semester <b>{{ common.semester_name }}</b>
                        </p>
                    {% endif %}
                {% endif %}

                {% if student %}
                    <meta id="illness-data" data-ill="{{ student.is_ill }}">
                    {% if student.sport_groups|length > 0 %}
                        <p id="student-list">
                            Your sport groups for semester <b>{{ common.semester_name }}</b>
                            are:
                            {% for group in student.sport_groups %}
                                <span class="badge badge-pill badge-success"
                                      id="student-span"
                                      onclick="openGroupInfoModalForStudent('/api/group/{{ group.id }}')">{{ group.name }}</span>
                            {% endfor %}
                        </p>
                    {% else %}
                        <p id="student-list">
                            You have no groups selected for semester <b>{{ common.semester_name }}</b>
                        </p>
                    {% endif %}

                    <p id="medical-group">Your medical group is <span
                            class="badge badge-pill badge-{% if student.obj.medical_group_id < 0 %}danger{% elif student.obj.medical_group_id == 0 %}warning{% else %}success{% endif %}"
                            onclick="openMedicalInfoModal(
                                    `{{ student.obj.medical_group.name }}`,
                                    `{{ student.obj.medical_group.description }}`
                                    )"
                    >
                        {{ student.obj.medical_group.name }}
                    </span></p>

                    <div id="medical-group-info-modal"></div>

                    {% if student.semesters|length > 0 %}
                        <div class="container" id="semester-hours">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Semester</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">End</th>
                                    <th scope="col">Hours</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sem in student.semesters %}
                                    <tr style="cursor: pointer" data-semester-id="{{ sem.semester_id }}"
                                        onclick="fetch_detailed_hours(this)" data-toggle="modal"
                                        data-target="#hours-modal-{{ sem.semester_id }}">
                                        <th scope="row">{{ sem.semester_name }}</th>
                                        <td>{{ sem.semester_start }}</td>
                                        <td>{{ sem.semester_end }}</td>
                                        <td>{{ sem.hours }}</td>
                                    </tr>
                                    <!-- Modal -->
                                    <div class="modal fade" id="hours-modal-{{ sem.semester_id }}" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="hours-modal-{{ sem.semester_id }}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        id="hours-modal-{{ sem.semester_id }}-title">
                                                        Detailed
                                                        statistics for
                                                        {{ sem.semester_name }} </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="spinner-border" role="status"></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                        Ok
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    <div class="container" id="control-buttons">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12 col-left mb-1">

                                {% if student.is_ill %}
                                    <button type="button" class="btn btn-dark tour-step-ill-btn" id="recovered-btn"
                                            onclick="toggle_ill(this)">Recovered
                                        &#x1F601
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-dark tour-step-ill-btn"
                                            onclick="toggle_ill(this)">
                                        Got sick
                                        &#x1F912
                                    </button>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-sm-12 col-right mb-1">
                                <button type="button" class="btn btn-warning tour-step-self-sport-btn" onclick="open_selfsport_modal()">
                                    Self-sport upload
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-sm-12 mb-1">
                                {% if student.group_choices_left > 1 %}
                                    <a href="{% url 'category' %}" class="btn btn-primary tour-step-choice-btn">
                                        {{ student.group_choices_left }} group choices left
                                    </a>
                                {% elif student.group_choices_left == 1 %}
                                    <a href="{% url 'category' %}" class="btn btn-primary tour-step-choice-btn">
                                        1 group choice left
                                    </a>
                                {% else %}
                                    <a href="{% url 'category' %}" class="btn btn-primary disabled tour-step-choice-btn"
                                       disabled>
                                        No group choices left
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% include "reference.html" %}
                    {% include "med_group_reference.html" %}
                    {% include "self_sport_reference.html" %}
                {% endif %}

                {% if student.sport_groups|length > 0 or trainer.sport_groups %}
                    <div id='calendar'></div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="grading-modal" tabindex="-1" role="dialog" aria-labelledby="grading-modal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="grading-modal-title">
                        Marking hours for
                        <span id="grading-group-name"></span>
                        at
                        <span id="grading-date"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ui-widget d-flex flex-row my-1">
                        <form class="student_email_suggestor" onsubmit="return false;">
                                        <span class="align-text-top"><label
                                                for="student_emails"><b>Name or email:</b> </label>
                                            <input id="student_emails" class="stundet_email_pick trainer-editable"
                                                   size="30">
                                        </span>
                        </form>
                    </div>
                    <div class="modal-body-table">

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="alert alert-danger" id="hours-alert" role="alert"
                                 style="visibility: hidden">
                            </div>
                            <div>
                                <button type="button" class="btn btn-success"
                                        id="put-default-hours-btn" onclick="mark_all(this)">Mark all (<span
                                        id="mark-all-hours-value"></span> h.)
                                </button>
                                <button class="btn btn-primary" id="save-hours-btn" onclick="save_hours()"
                                        type="button">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="medical-group-info-modal"></div>
    <div id="group-info-modal"></div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
