{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link rel="stylesheet" href="{% static "sport/css/bootstrap-tourist.css" %}?{{JS_VERSION}}">
    <link rel="stylesheet" href="{% static "sport/css/profile.css" %}?{{JS_VERSION}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="{% static "sport/js/csv.min.js" %}?{{JS_VERSION}}"></script>
    <script src="{% static "sport/js/bootstrap-tourist.js" %}?{{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/networking.mjs" %}?{{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/enrollment.mjs" %}?{{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/calendar.mjs" %}?{{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/modals.mjs" %}?{{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/tour.mjs" %}?{{JS_VERSION}}"></script>
    <script src="{% static "sport/js/profile.js" %}?{{JS_VERSION}}"></script>
    <script src="{% static "sport/js/self_sport_reference.js" %}?{{JS_VERSION}}"></script>
    <script src="{% static "sport/js/swipeCalendar.min.js" %}?{{JS_VERSION}}"></script>
{% endblock %}

{% block content %}
    {% if notify %}
        <script>
            toastr["{{ notify.type }}"]("{{ notify.msg }}")
        </script>
    {% endif %}
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-body">
                <h1 class="card-title">{{ user.get_full_name }}</h1>
                <hr style="margin-bottom: 4px;">
                {% if trainer.sport_groups is not None  %}
                    <span class="badge badge-pill badge-primary text-uppercase mx-1 my-1">
                            Teacher
                    </span>
                    <h3>Work — <span class="badge badge-light text-uppercase">{{ common.semester_name }}</span> semester</h3>
                    {% if trainer.sport_groups|length > 0 %}
                        <p class="d-flex justify-content-center align-content-between flex-wrap" id="trainer-list">
                            Teaching groups:
                            {% for group in trainer.sport_groups %}
                                <span class="badge badge-info text-uppercase mx-1 my-1" id="trainer-span"
                                      style="cursor: pointer"
                                      onclick="openGroupInfoModalForTrainer(['/api/group/{{ group.id }}', '/api/attendance/{{ group.id }}/report'])">
                                      {{ group.qualified_name }}
                                </span>
                            {% endfor %}
                        </p>
                    {% else %}
                        <p id="trainer-list">
                            <h4><span class="badge badge-warning">You are not teaching in the current semester</span></h4>
                        </p>
                    {% endif %}
                {% endif %}

                {% if student %}
                    {% if student.obj.student_status.id != 0 %}
                        <h5>
                            <span class="badge badge-pill bg-{% if student.obj.student_status.id == 1 %}danger
                                                    {% elif student.obj.student_status.id == 2 %}primary
                                                    {% else %}success
                                                    {% endif %}text-light">
                                {{ student.obj.student_status.description }}
                            </span>
                        </h5>
                        <p>
                            If your status is incorrect, please contact <a href="https://t.me/loban4">Alexandr Lobanov</a>
                        </p>
                    {% endif %}
                    {% if student.obj.student_status.id == 2  %}
                        <hr>
                        <a href="{% url 'category' %}" class="btn btn-dark" style="width: 100%">
                            Sport types' schedule
                        </a>
                    {% endif %}
                    <meta id="illness-data" data-ill="{{ student.is_ill }}">
                    {% if student.obj.student_status.id == 0 %}
                        <p class="d-flex justify-content-center align-content-between flex-wrap">
                            {% if student.is_online %}
                                <span class="badge badge-pill badge-primary text-light text-uppercase mx-1 my-1">
                                    Online student
                                </span>
                            {% else %}
                                <span class="badge badge-pill badge-secondary text-light text-uppercase mx-1 my-1">
                                    Offline student
                                </span>
                            {% endif %}
                            <script type="text/javascript">
                                const student_id = "{{ student.student_id }}";
                                const apiUrl = `/api/attendance/${student_id}/negative_hours`;
                                fetch(apiUrl).then(response => {
                                return response.json();
                                    }).then(data => {
                                        d_span = document.getElementById('debtor_status');
                                        d_alert = document.getElementById('debtor_alert');
                                        d_bar = document.getElementById('debtor_bar');
                                        if (data['final_hours'] < 0) {
                                            d_span.classList.remove('d-none');
                                            d_alert.classList.remove('d-none');
                                            d_bar.classList.remove('d-none');
                                        }
                                    }).catch(err => {
                                    });
                            </script>
                            <span id="debtor_status" class="d-none badge badge-pill badge-danger mx-1 my-1">DEBTOR</span>
                            {% if student.obj.medical_group.id != -2 and not student.has_unresolved_med_group_submission %}
                                <span id="medical-group" class="badge badge-pill badge-success text-uppercase my-1 mx-1"
                                    onclick="openMedicalInfoModal(
                                            `{{ student.obj.medical_group.name }}`,
                                            `{{ student.obj.medical_group.description }}`
                                            )"
                                    style="cursor: pointer;">
                                    {{ student.obj.medical_group.name }} medical group
                                </span>
                            {% endif %}
                            {% if student.sport %}
                                <span class="badge badge-dark text-uppercase mx-1 my-1">{{ student.sport.name }}</span>
                            {% else %}
                                <span class="badge badge-dark mx-1 my-1">NO SPORT TYPE</span>
                            {% endif %}
                            {% if student.sport_groups|length > 0 %}
                                <span class="badge badge-info text-uppercase mx-1 my-1"
                                    id="student-span"
                                    onclick="openGroupInfoModalForStudent('/api/group/{{ student.sport_groups.0.id }}')"
                                    style="cursor: pointer;">{{ student.sport_groups.0.name }}</span>
                            {% else %}
                                <span class="badge badge-info mx-1 my-1">NO SPORT GROUP</span>
                            {% endif %}
                        </p>
                        <div id="debtor_alert" class="d-none alert alert-danger" role="alert">
                            <h5>Dear student!</h5>
                            <p><b>To remove</b> the <span class="badge badge-pill badge-danger">DEBTOR</span> status you should make your <b>number of hours positive</b> (clear debt bar),
                            <br>
                            <i>either</i>  on <b>self-sport</b> or <span class="badge badge-info">SPORT GROUP</span> trainings.
                            <br>
                            Closing the debt is <b>required to pass the sport course</b>.</p>
                        </div>
                        <h3>Progress</h3>
                        {% if student.better_than is not None and student.better_than >= 30 %}
                            <span>You are better than {{student.better_than}}% of the students!</span>
                        {% endif %}
                        <!-- Debt bar-->
                        <div id="debtor_bar" class="d-none">
                            <div class="progress mt-3" style="width: 100%; height: 2rem;">
                                <div class="progress-bar progress-bar-striped bg-light text-danger" style="width: 100%; height: 2rem;"><b>Debt</b></div>
                            </div>
                            <div class="progress mb-3" style="width: 100%; height: 2rem">
                                <div class="progress-bar progress-bar-striped bg-danger" id="debt-subbar"></div>
                            </div>
                        </div>
                        <!-- Self-sport + Sport group bar-->
                        <div class="progress mt-3" style="width: 100%; height: 2rem;">
                            {% if student.is_online %}
                                <div class="progress-bar bg-light text-primary" style="width: 100%; height: 2rem;"><b>Self-sport</b></div>
                            {% else %}
                                <div class="progress-bar bg-light text-primary" style="width: 40%; height: 2rem;"><b>Self-sport (max 10h)</b></div>
                                <div class="progress-bar bg-light text-info" style="width: 60%; height: 2rem;"><b>Sport group</b></div>
                            {% endif %}
                        </div>
                        <div class="progress mb-3" style="width: 100%; height: 2rem">
                            {% if student.is_online %}
                                <div class="progress-bar bg-primary" id="subbar-self-on" style="width: calc({{student.all_hours.hours_self_not_debt}}% * 100 / {{student.all_hours.hours_sem_max}});height: 2rem;">
                                    {{student.all_hours.hours_self_not_debt}}h
                                </div>
                            {% else %}
                                <div class="progress-bar bg-primary" id="subbar-self-off"></div>
                                <div class="progress-bar bg-info" id="subbar-sport"></div>
                            {% endif %}
                        </div>
                        <div id="medical-group-info-modal"></div>
                        {% if student.semesters|length > 0 %}
                            <div class="container" id="semester-hours">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Semester</th>
                                            <th scope="col">Start</th>
                                            <th scope="col">End</th>
                                            <th scope="col">Hours</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for sem in student.semesters %}
                                        {% if student.obj.student_status.id == 0 %}
                                            <tr style="cursor: pointer" data-semester-id="{{ sem.semester_id }}"
                                                onclick="fetch_detailed_hours(this)" data-toggle="modal"
                                                data-target="#hours-modal-{{ sem.semester_id }}">
                                                <th scope="row">
                                                    {% if sem.semester_name == common.semester_name %} 
                                                        <span class="badge badge-light text-uppercase">{{ sem.semester_name }}</span>
                                                    {% else %}
                                                        <span class="text-uppercase">{{ sem.semester_name }}</span>
                                                    {% endif %}
                                                </th>
                                                <td>{{ sem.semester_start }}</td>
                                                <td>{{ sem.semester_end }}</td>
                                                <td>{{ sem.hours }}</td>
                                            </tr>
                                        {% elif sem.semester_name != common.semester_name %}
                                            <tr style="cursor: pointer" data-semester-id="{{ sem.semester_id }}"
                                                onclick="fetch_detailed_hours(this)" data-toggle="modal"
                                                data-target="#hours-modal-{{ sem.semester_id }}">
                                                <th scope="row" class="text-uppercase">{{ sem.semester_name }}</th>
                                                <td>{{ sem.semester_start }}</td>
                                                <td>{{ sem.semester_end }}</td>
                                                <td>{{ sem.hours }}</td>
                                            </tr>
                                        {% endif %}
                                        <!-- Detailed semester modal -->
                                        <div class="modal fade" id="hours-modal-{{ sem.semester_id }}" tabindex="-1"
                                            role="dialog"
                                            aria-labelledby="hours-modal-{{ sem.semester_id }}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"
                                                            id="hours-modal-{{ sem.semester_id }}-title">
                                                            Detailed statistics for the
                                                            <span class="badge badge-light text-uppercase">{{ sem.semester_name }}</span> 
                                                            semester
                                                            </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="spinner-border" role="status"></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                            Ok
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        <hr>
                        <div class="d-flex justify-content-around align-content-between flex-wrap">
                            <div class="my-2 mx-2">
                                {% if student.obj.medical_group.id == -2 and not student.has_unresolved_med_group_submission %}
                                    <button type="button" class="btn btn-danger"
                                        onclick="open_med_group_modal()"
                                        style="cursor: pointer;">
                                        Submit medical group reference
                                    </button>
                                {% elif student.has_unresolved_med_group_submission %}
                                    <button type="button" class="btn btn-warning" disabled style="cursor: default; opacity: 1;">
                                        Awaiting medical group reference approval
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-primary" onclick="open_selfsport_modal()">
                                        Self-sport upload
                                    </button>
                                {% endif %}
                            </div>
                            <div class="my-2 mx-2">
                                {% if not student.sport %}
                                    <a href="{% url 'category' %}" class="btn btn-danger">
                                        Choose sport type
                                    </a>
                                {% elif not student.sport_groups%}
                                    <a href="{% url 'category' %}" class="btn btn-danger">
                                        Choose sport group
                                    </a>
                                {% else %}
                                    <a href="{% url 'category' %}" class="btn btn-dark">
                                        Sport types' schedule
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-content-center flex-wrap">
                            <div class="my-2 mx-2 align-self-center">
                                <i>Could not do sports for a while?</i>
                            </div>
                            <div class="my-2 mx-2 align-self-center">
                                <button type="button" class="btn btn-secondary" onclick="open_recovered_modal()">
                                    Submit medical reference
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    {% include "reference.html" %}
                    {% include "med_group_reference.html" %}
                    {% include "self_sport_reference.html" %}
                {% endif %}

                <!-- FAQ -->
                {% if student and faq|length != 0%}
                <hr>
                <h2>FAQ</h2>
                <div class="accordion" id="accordion-faq">
                    <p class="d-flex justify-content-center align-content-between flex-wrap">
                        {% for category in faq %}
                            <button class="btn btn-sm btn-outline-dark m-1" type="button" data-toggle="collapse"
                                    data-target="#category_{{forloop.counter0}}" aria-expanded="false" aria-controls="category_{{forloop.counter0}}">
                            {{category.name}}
                            </button>
                        {% endfor %}
                    </p>
                    {% for category in faq %}
                        <div class="collapse" id="category_{{forloop.counter0}}" data-parent="#accordion-faq">
                            {% for element in category.values %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <h4 class="btn btn-link btn-block text-left text-reset" type="button" data-toggle="collapse"
                                            data-target="#a_{{element.id}}" aria-expanded="false" aria-controls="a_{{element.id}}">
                                            <b>{{element.question}}</b>
                                        </h4>
                                        <div id="a_{{element.id}}" class="collapse my-3">
                                            <p class="text-left">
                                            {{element.answer}}
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                    {% if student.obj.course is not None %}
                        <p>
                            <b>Any other questions?</b> Please contact your course curator
                            {% if student.obj.course == 1 %}
                                <a href="https://t.me/crazycopter">Danila Khasanov</a>
                            {% elif student.obj.course == 2 %}
                                <a href="https://t.me/edikrvrs">Eduard Shaymardanov</a>
                            {% elif student.obj.course == 3 %}
                                <a href="https://t.me/linkainno">Alina Pavlova</a>
                            {% elif student.obj.course == 4 %}
                                <a href="https://t.me/rafil_coach">Rafil Galimzianov</a>
                            {% endif %}
                        </p>
                        <a href="https://t.me/loban4">Alexandr Lobanov</a> (if you're English-speaking student)
                    {% endif %}
                {% endif %}

                {% if student.sport_groups|length > 0 and student.obj.student_status.id == 0 or trainer.sport_groups %}
                    <hr>
                    <h2>Schedule</h2>
                    <div id='calendar'></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="grading-modal" tabindex="-1" role="dialog" aria-labelledby="grading-modal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="grading-modal-title">
                        Marking hours for
                        <span  class="badge badge-info text-uppercase" id="grading-group-name"></span>
                        at
                        <span id="grading-date"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="student_email_suggestor" onsubmit="return false;">
                        <div class="container">
                        <div class="row align-items-center">
                                <div class="col-lg-6 sol-sm-12 mb-3">
                                    <input id="student_emails" class="form-control w-100 trainer-editable"
                                        size="30" placeholder="Enter student name or email">
                                </div>
                                <div class="col-lg-6 sol-sm-12 mb-3">
                                    <div class="custom-file">
                                        <label for="csv-file-input" class="custom-file-label">Upload moodle CSV attendance</label>
                                        <input name="image" type="file" class="custom-file-input form-control-file trainer-editable"
                                            accept=".csv"
                                            id="csv-file-input"
                                            onchange="csv_upload(this)">
                                    </div>
                                </div>
                        </div>
                        </div>
                    </form>
                    <div class="mb-3">Marked students: <span class="badge badge-dark" id="marked-students"></span></div>
                    <div class="modal-body-table">

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="alert alert-danger" id="hours-alert" role="alert"
                                 style="visibility: hidden">
                            </div>
                            <div>
                                <button type="button" class="btn btn-success"
                                        id="put-default-hours-btn" onclick="mark_all(this)">Mark all (<span
                                        id="mark-all-hours-value"></span> h.)
                                </button>
                                <button class="btn btn-primary" id="save-hours-btn" onclick="save_hours()"
                                        type="button">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="medical-group-info-modal"></div>
    <div id="group-info-modal"></div>
    <script>
        const interface_sport_group_hours = Math.max({{student.all_hours.hours_not_self}} - {{student.init_debt_hours}}, 0);
        const sport_group_hours = interface_sport_group_hours * 100 / {{student.all_hours.hours_sem_max}};
        const interface_debt_hours = Math.abs({{student.debt_hours}});
        const debt_hours = interface_debt_hours * 100 / {{student.init_debt_hours}};
        const self_hours = Math.floor({{student.all_hours.hours_self_not_debt}} * 100 / {{student.all_hours.hours_sem_max}});
        const interface_self_hours = Math.floor({{student.all_hours.hours_self_not_debt}});
        const debt_subbar = document.getElementById('debt-subbar');
        const subbar_sport = document.getElementById('subbar-sport');
        subbar_sport.setAttribute('style', `width: ${sport_group_hours}%; height: 2rem;`);
        debt_subbar.setAttribute('style', `width: ${debt_hours}%; height: 2rem;`);
        debt_subbar.textContent = `${interface_debt_hours}h`;
        subbar_sport.textContent = `${interface_sport_group_hours}h`;
        const subbar_self_off = document.getElementById('subbar-self-off');
        subbar_self_off.setAttribute('style', `width: ${self_hours}%; height: 2rem;`);
        subbar_self_off.textContent = `${interface_self_hours}h`;
    </script>
{% endblock %}
