{% block content %}
    <div class="modal fade" id="selfsport-modal" tabindex="-1" role="dialog"
         aria-labelledby="selfsport-modal" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <form action="#" onsubmit="return false;">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Self Sport Upload
                        </h5>
                        <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <p>Please submit <strong>either</strong> an image or a link to the video that confirm your activity.</p>
                        <div class="form-group">
                            <label for="self-sport-type">Select training type:</label>
                            <select name="training_type" class="form-control" id="self-sport-type">
                              <option disabled>Loading...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input name="image" type="file" class="form-control-file"
                                   accept="image/png, image/jpeg"
                                   id="self-sport-file-input">
                        </div>
                        <div class="form-group">
                            <input name="link" type="url" class="form-control"
                                   maxlength="100"
                                   placeholder="Link to the video"
                                   pattern="^(http|https):\/\/.*"
                                   title="Invalid format of the link. Must start with &quot;http://\&quot; or &quot;https://\&quot;"
                                   id="self-sport-text-input">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <div class="row justify-content-between">
                                <div>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>
                                </div>
                                <div>
                                    <input type="submit" value="Submit"
                                           class="btn btn-primary"
                                           id="submit-self-sport-btn"
                                           onclick="submit_self_sport()">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}