{% load static %}

{% block content %}
    <div class="modal fade" id="selfsport-modal" tabindex="-1" role="dialog"
         aria-labelledby="selfsport-modal" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <form action="#" onsubmit="return false;">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Self Sport Upload
                        </h5>
                        <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <p>Please submit <strong>a link</strong> to your
                        <a href="https://www.strava.com/" target="_blank" rel="noopener noreferrer"><img src="{% static "sport/images/strava.png" %}" alt="strava.com" style="height: 0.7em;" ></a>
                        activity.</p>
                        <div class="form-group">
                            <select name="training_type" class="form-control" id="self-sport-type">
                              <option disabled selected>Loading...</option>
                            </select>
                            <small id="self-sport-type-help" class="form-text text-muted"></small>
                            <input name="link" type="url" class="form-control"
                                    maxlength="100"
                                    placeholder="Strava activity link"
                                    pattern="^(http|https):\/\/.*"
                                    title="The link must start with &quot;http://&quot; or &quot;https://&quot;"
                                    id="self-sport-text-input">
                        </div>
                        <p>Specify the <strong>number of hours</strong> you have accumulated during the training.</p>
                        <div class="form-group">
                            <input type="number" class="form-control" maxlength="10" placeholder="Number of hours"
                                    title="The number format: NN or NN.NN"
                                    id="self-sport-number-input">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <div class="row justify-content-between">
                                <div>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>
                                </div>
                                <div>
                                    <input type="submit" value="Submit"
                                           class="btn btn-primary"
                                           id="submit-self-sport-btn"
                                           onclick="submit_self_sport()">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}