{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <title>innosport+</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link rel="stylesheet" href="{% static "sport/css/bootstrap-tourist.css" %}?v={{JS_VERSION}}">
    <link rel="stylesheet" href="{% static "sport/css/profile.css" %}?v={{JS_VERSION}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="{% static "sport/js/csv.min.js" %}?v={{JS_VERSION}}"></script>
    <script src="{% static "sport/js/bootstrap-tourist.js" %}?v={{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/networking.mjs" %}?v={{JS_VERSION}}"></script>
    <script src="{% static "sport/js/profile.js" %}?v={{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/enrollment.mjs" %}?v={{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/calendar.mjs" %}?v={{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/modals.mjs" %}?v={{JS_VERSION}}"></script>
    <script src="{% static "sport/js/modules/tour.mjs" %}?v={{JS_VERSION}}"></script>
    <script src="{% static "sport/js/self_sport_reference.js" %}?v={{JS_VERSION}}"></script>
    <script src="{% static "sport/js/swipeCalendar.min.js" %}?v={{JS_VERSION}}"></script>
    <style>
        body{
            margin: 0;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.6;
            color: #212529;
            text-align: left;
            background-color: #f5f8fa;
        }

        .navbar-laravel
        {
            box-shadow: 0 2px 4px rgba(0,0,0,.04);
        }

        .navbar-brand , .nav-link, .my-form, .login-form
        {
            font-family: Raleway, sans-serif;
        }

        .my-form
        {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        .my-form .row
        {
            margin-left: 0;
            margin-right: 0;
        }

        .login-form
        {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        .login-form .row
        {
            margin-left: 0;
            margin-right: 0;
        }

        #id_password, #id_username
        {
            width: 100%;
        }

        .btn-innosport {
            color: #fff;
            background-color: #05a8aa;
            border-color: #05a8aa;
        }
    </style>
{% endblock %}

{% block content %}

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}
                        {% if next %}
                            {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                            {% else %}
                            <p>Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">{{ form.username.label_tag }}</label>
                                <div class="col-md-6">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">{{ form.password.label_tag }}</label>
                                <div class="col-md-6">
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-innosport">
                                    Login
                                </button>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>

{% endblock %}
