body.profile {
    font-family: sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

/*img.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 25%;
    height: auto;
}*/

a:hover {
    color: #ffffff;
}

.studentHourField{
    width: 50px;
}

.navbar-inverse {
    background: #00802b;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-nav {
    color: #ffffff;
}

.badge-secondary:hover {
    cursor: pointer;
    background-color: #dc3545;
}

.badge-training {
    background-color: #ffa500;
}

.alert {
    padding: 6px 12px; /* The same padding as buttons has */

}

@media only screen and (max-width: 576px) and (max-width: 768px) {
    .landscape {
        display: none;
    }

    .portrait {
        display: block;
    }

    .card {
        margin: 1%;
    }

    .row {
        margin-top: 1%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .landscape {
        display: none;
    }

    .portrait {
        display: block;
    }

    .card {
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
    }

    .row {
        margin-top: 1%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .landscape {
        display: block;
    }

    .portrait {
        display: none;
    }

    .card {
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
    }

    .col-md-6.col-left {
        text-align: right;
    }

    .col-md-6.col-right {
        text-align: left;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .landscape {
        display: block;
    }

    .portrait {
        display: none;
    }

    .card {
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
    }

    .col-lg-6.col-left {
        text-align: right;
    }

    .col-lg-6.col-right {
        text-align: left;
    }
}

@media only screen and (min-width: 1201px) {
    .landscape {
        display: block;
    }

    .portrait {
        display: none;
    }

    .card {
        margin-top: 1%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .col-xl-6.col-left {
        text-align: right;
    }

    .col-xl-6.col-right {
        text-align: left;
    }
}

