body.profile {
    font-family: sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

/*img.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 25%;
    height: auto;
}*/

a:hover {
    color: #ffffff;
}

.navbar-inverse {
    background: #00802b;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-nav {
    color: #ffffff;
}

@media only screen and (max-width: 800px) {
    .card {
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 801px) {
    .card {
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

