<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>

    <link rel="stylesheet" href="../static/css/404.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.css">
</head>
<body>
{%include "header.html"%}

<div class="container-fluid landscape pl-0">
    <div class="row fill">
        <div class="col-6 no-float">
            <img src="../static/images/errors/404.png">
        </div>
        <div class="col-6 col-right">
            <div class="header">
                <h1 class="display-1 text-center hdr">404</h1>
            </div>
            <div class="body">
                <p class="display-4 text-center msg">I am glad to see you here, but this page does not exist</p>
            </div>
            <div class="footer"></div>
        </div>
    </div>
</div>

<div class="container-fluid portrait pl-0 pr-0">
    <div class="col">
        <div class="row justify-content-center">
            <h1 class="display-1 text-center">404</h1>
            <p class="display-4 text-center">I am glad to see you here, but this page does not exist</p>
        </div>
        <div class="row">
            <img class="align-center" src="../static/images/errors/404.png">
        </div>
    </div>
</div>

</body>
</html>