<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ error_code }}</title>

    <link rel="stylesheet" href="../static/css/error.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.css">
</head>
<body>
{% include "header.html" %}

<div class="container-fluid landscape pl-0">
    <div class="row fill">
        <div class="col-6 no-float">
            <img src="../static/images/errors/error.png">
        </div>
        <div class="col-6 col-right">
            <div class="header">
                <h1 class="display-1 text-center hdr">{{ error_code }}</h1>
            </div>
            <div class="body">
                <div class="col">
                    <p class="display-4 text-center msg">I am sorry, these cowboy-coders made some mistake</p>
                    <details>
                        <summary>Details</summary>
                        <div class="text-left traceback">{% for line in data %}<br/>{{ line }}{% endfor %}</div>
                    </details>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid portrait pl-0 pr-0">
    <div class="col">
        <div class="row justify-content-center">
            <h1 class="display-1 text-center">{{ error_code }}</h1>
            <p class="display-4 text-center">I am sorry, these cowboy-coders made some mistake</p>
            <details>
                <summary>Details</summary>
                <div class="text-left traceback">{% for line in data %}<br/>{{ line }}{% endfor %}</div>
            </details>
        </div>
        <div class="row">
            <img class="align-center" src="../static/images/errors/error.png">
        </div>
    </div>
</div>

</body>
</html>