<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body class="head">
<header class="head">
    <img class="head" src="../static/images/Inno.png" alt="Innopolis University logo">
    <div>
        {% if user %}
            <a class="head" href="/profile">{{ user["first_name"] }} {{ user["last_name"] }}</a>
<!--            <a class="head" id="logout-btn" href="#">Log out</a>-->
        {% else %}
            <a class="head" href="/api/loginform">Sign in</a>
        {% endif %}
    </div>
</header>
</body>
<script src="../static/js/header.js"></script>
</html>
