<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="https://helpdesk.innopolis.university/static//images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://helpdesk.innopolis.university/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://helpdesk.innopolis.university/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://helpdesk.innopolis.university/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="https://helpdesk.innopolis.university/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://helpdesk.innopolis.university/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://helpdesk.innopolis.university/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="https://helpdesk.innopolis.university/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://helpdesk.innopolis.university/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="https://helpdesk.innopolis.university/static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="/api/loginform" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						Sign In
					</span>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign in
						</button>
					</div>

					<div class="flex-col-c p-t-170 p-b-40">
						<span class="txt3 p-b-9">
							Innopolis University
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
<!--===============================================================================================-->
	<script src="https://helpdesk.innopolis.university/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="https://helpdesk.innopolis.university/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="https://helpdesk.innopolis.university/static/vendor/bootstrap/js/popper.js"></script>
	<script src="https://helpdesk.innopolis.university/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="https://helpdesk.innopolis.university/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="https://helpdesk.innopolis.university/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="https://helpdesk.innopolis.university/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="https://helpdesk.innopolis.university/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="https://helpdesk.innopolis.university/static/js/main.js"></script>

</body>
</html>