<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/profile.css">

</head>

{%include "header.html"%}

<body class="profile">

<div class="card text-center">
    <div class="card-header">
        Profile
    </div>
    <!--
        <img class="center profile"
         src="https://mail.innopolis.ru/owa/service.svc/s/GetPersonaPhoto?email=d.manakovskiy@innopolis.university&size=HR240x240"
         alt="Avatar">
    -->
    <div class="card-body">
        <h1 class="card-title">{{ user["first_name"] }} {{ user["last_name"] }}</h1>
        <h4 class="card-title">{{ user["role"] }}</h4>
        {% if user.is_student %}
            {% if sport_group %}
                <p>Your sport group for semester <b>{{ semester_name }}</b> is: {{ sport_group }}</p>
            {% endif %}
            {% if enroll_open %}
            <a href="/survey/category" class="btn btn-primary">Choose new sport group</a>
            {% else %}
            <a href="#" class="btn btn-primary disabled">Self-enroll is already closed</a>
            {% endif %}
        {% endif %}
    </div>
</div>
</body>
</html>
