<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/profile.css">

</head>

{%include "header.html"%}

<body class="profile">

<div class="card text-center">
    <div class="card-header">
        Profile
    </div>
    <img class="center profile"
         src="https://mail.innopolis.ru/owa/service.svc/s/GetPersonaPhoto?email=d.manakovskiy@innopolis.university&size=HR240x240"
         alt="Avatar">

    <div class="card-body">
        <h1 class="card-title">{{ user["first_name"] }} {{ user["last_name"] }}</h1>
        {% if user.is_student %}
            <a href="/survey/category" class="btn btn-primary">Choose the group</a>
        {% endif %}
    </div>
</div>
</body>
</html>
