<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <link rel="stylesheet" href="../static/css/profile.css">
    <script src="../static/js/profile.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.css">

    <!--
        Calendar
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.js"></script>
    <style>
        .fc-event {
            font-size: 1em;
        }
    </style>
</head>

{% include "header.html" %}

<body class="profile">

<div class="container-fluid">
    <!--
        Profile section
    -->
    <div class="card text-center">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <h1 class="card-title">{{ user["first_name"] }} {{ user["last_name"] }}</h1>
            <h4 class="card-title">{{ user["role"] }}</h4>
            {% if user.is_student %}
            <meta id="illness-data" data-ill="{{ student.is_ill }}">

            {% if student["hours"] %}
                <p>You have <strong>{{ student["hours"] }} </strong> hour(s)</p>
            {% else %}
                <p>You have <strong>0</strong> hour(s)</p>
            {% endif %}
            {% if student["sport_group"] %}
            <p>
                Your sport group for semester <b>{{ common["semester_name"] }}</b>
                is: {{ student["sport_group"] }}
            </p>
            {% endif %}

            <div class="container landscape">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-xl-6 col-left">
                        {% if student.is_ill %}
                        <button type="button" class="btn btn-dark" onclick="toggle_ill(this)">Recovered &#x1F601
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-dark" onclick="toggle_ill(this)">Got sick &#x1F912
                        </button>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 col-right">
                        <a href="/survey/category"
                           class="btn btn-primary {% if not common[" enroll_open"] %}disabled{% endif %}">
                        Choose sport group
                        </a>
                    </div>
                </div>
            </div>

            <div class="container portrait">
                <div class="col">
                    <div class="row justify-content-center">
                        {% if student.is_ill %}
                        <button type="button" class="btn btn-dark" onclick="toggle_ill(this)">Recovered &#x1F601
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-dark" onclick="toggle_ill(this)">Got sick &#x1F912
                        </button>
                        {% endif %}
                    </div>
                    <div class="row justify-content-center">
                        <a href="/survey/category"
                           class="btn btn-primary {% if not common[" enroll_open"] %}disabled{% endif %}">
                        Choose sport group
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}

            <!--
                 Sport schedule section
            -->
            {% if student["group_id"] %}
            <div id='calendar' data-trainings={{ student["group_id"] }}>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
