body {
    background-color: #fff; /* Цвет фона веб-страницы */
}

.card {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.btn.disabled, .btn:disabled {
    cursor: default;
}

.crop {
    width: 100%;
    overflow: hidden;
}

a.help-link {
    z-index: 1000;
    cursor: pointer;
    position: fixed;
    bottom: 3%;
    right: 3%;
}

/*
    Properties for different screen sizes
*/
@media only screen and (max-width: 767px) {

    h1 {
        font-size: 150%;
    }

    .landscape {
        display: none;
    }

    .portrait {
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr
    }

    .grid-item {
        margin-bottom: 1rem;
    }

    .col {
        margin-bottom: 1rem;
    }

    .dropdown-content {
        min-width: 200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    h1 {
        font-size: 150%;
    }

    .card {
        margin-top: 5%;
    }

    .landscape {
        display: flex
    }

    .portrait {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .dropdown-content {
        min-width: 200px;
    }
}

@media only screen and (min-width: 1201px) {

    .landscape {
        display: flex;
    }

    .portrait {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .dropdown-content {
        min-width: 300px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
