html, body {
    margin: 0;
    padding: 0;
}

header.head {
    background-color: rgb(128, 188, 39);

    display: flex;
    align-items: center;
    justify-content: space-around;

    height: fit-content;
}

header img.head {
    background-color: white;
    width: 70px;

}

header a.head {
    color: white;
    font-size: 20px;
}

header div.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

