version: '3.5'
services:
  adminpanel:
    build:
      context: ../adminpage
      dockerfile: Dockerfile
      args:
        PYTHON_VERSION: 3.7
    #   Wait for postgres to startup before running server
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; python manage.py runserver 0.0.0.0:8000'
    restart: always
    depends_on:
      - db
    env_file:
      - .env.test

  db:
    image: db
    build:
      context: ..
      dockerfile: Dockerfile.db
    restart: always
    env_file:
      - .env.test
