{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{%block extrahead %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.js"></script>
<link rel="icon" type="image/png" href="{% static "sport/images/icons/favicon.ico" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "sport/css/login_util.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "sport/css/login_main.css" %}">
{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                <span class="login100-form-title">
                    InnoSport
                </span>

                <div class="container-login100-form-btn m-b-50" hidden="False">
                    <form method="post">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <button type="submit" class="login100-form-btn">Login</button>
                    </form>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">Login with University Account</button>
                </div>

                <div class="flex-col-c p-t-170 p-b-40">
                    <span class="txt3 p-b-9">
                        Innopolis University
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h1>Some error has happened. Please, contact the developers</h1>
{% endif %}
{% endblock %}