{% extends "admin/base.html" %}

{% load static %}

{% block extrahead %}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>

{#    Uncomment the following line to always collapse filters #}
{#    <script type="text/javascript" src="{% static "sport/js/list_filter_collapse.js" %}"></script>#}
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script>
    $.jMaskGlobals.watchDataMask = true;
    </script>
{% endblock %}

{% block nav-global %}{% endblock %}
