name: Staging deploy
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Tests"]
    branches: [master]
    types:
      - completed
jobs:
  deploy:
    name: Deploy to staging server
    runs-on: self-hosted
    environment:
      name: development
      url: https://stage.sport.innopolis.university
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd ${{ secrets.REPOSITORY_PATH }}/GITHUB_REF
            git reset --hard
            git checkout ${GITHUB_REF}
            git pull
            docker-compose -f docker-compose-prod.yml build
            docker-compose -f docker-compose-prod.yml down
            docker-compose -f docker-compose-prod.yml up -d
            docker-compose -f docker-compose-prod.yml exec -T adminpanel bash -c "while !</dev/tcp/db/5432; do sleep 1; done;"
            docker-compose -f docker-compose-prod.yml exec -T adminpanel bash -c './manage.py collectstatic --noinput && ./manage.py migrate'
            docker-compose -f docker-compose-prod.yml build nginx
            docker-compose -f docker-compose-prod.yml restart nginx
